In [ ]:
#bibliotecas utilizadas
import numpy as np
import pandas as pd

In [ ]:
obt = pd.read_csv("C:/Users/Flavia Manhães/OneDrive - Universidade Federal de Pernambuco/2021.2/CONDEPE FIDEM/BDE II/ELIANE - DADOS/SAUDE/2019/A100614189_28_143_208.csv",sep=';', encoding='latin1',  engine='python')
nasc = pd.read_csv("C:/Users/Flavia Manhães/OneDrive - Universidade Federal de Pernambuco/2021.2/CONDEPE FIDEM/BDE II/ELIANE - DADOS/SAUDE/2019/A100634189_28_143_208.csv",sep=';', encoding='latin1',  engine='python')

def ajeitandoBanco(df,coluna):
    # Descartando colunas com valor nulo para evitar erros
    df.dropna(inplace = True)

    # Nova Data com Split das coluna "Name" separado por espaços
    new = coluna.str.split(" ", n = 1, expand = True)

    # Criando a Nova Coluna "First Name" com o new[0]
    df["Geocodigo"]= new[0] 

    # Criando a Nova Coluna "Last Name" com o new[1]
    df["Municipio"]= new[1] 

    # Retirando a antiga coluna "Name" 
    df.drop(columns =["Município"], inplace = True) 

# Imprimindo Alteração no Console
ajeitandoBanco(obt,obt["Município"])
ajeitandoBanco(nasc,nasc["Município"])

In [ ]:
# Merge utilizando a coluna do geocodigo
mortInfantil = pd.merge(obt, nasc, on=["Geocodigo","Municipio"])
mortInfantil["Taxa de mortalidade infantil"]=((mortInfantil["Óbitos_p/Residênc"]*1000)/mortInfantil["Nascim_p/resid.mãe"])
mortInfantil

,Óbitos_p/Residênc,Geocodigo,Municipio,Nascim_p/resid.mãe,Taxa de mortalidade infantil
0,9,260005,Abreu e Lima,1352,6.656805
1,5,260010,Afogados da Ingazeira,586,8.532423
2,9,260020,Afrânio,254,35.433071
3,6,260030,Agrestina,325,18.461538
4,4,260040,Água Preta,425,9.411765
...,...,...,...,...,...
180,0,261618,Vertente do Lério,103,0.000000
181,4,261620,Vertentes,290,13.793103
182,5,261630,Vicência,387,12.919897
183,23,261640,Vitória de Santo Antão,1901,12.098895
184,0,261650,Xexéu,214,0.000000

In [ ]:
# Reposicionar colunas do dataframe

cols = mortInfantil.columns.tolist()
cols_=[cols[2],cols[3],cols[0],cols[4]]
mortInfantil=mortInfantil[cols_] 
mortInfantil

,Municipio,Nascim_p/resid.mãe,Óbitos_p/Residênc,Taxa de mortalidade infantil
0,Abreu e Lima,1352,9,6.656805
1,Afogados da Ingazeira,586,5,8.532423
2,Afrânio,254,9,35.433071
3,Agrestina,325,6,18.461538
4,Água Preta,425,4,9.411765
...,...,...,...,...
180,Vertente do Lério,103,0,0.000000
181,Vertentes,290,4,13.793103
182,Vicência,387,5,12.919897
183,Vitória de Santo Antão,1901,23,12.098895
184,Xexéu,214,0,0.000000

In [ ]:
# Renomear Colunas no Dataframe
mortInfantil.rename(columns={'Municipio': 'Municípios', "Nascim_p/resid.mãe": "Nascidos vivos", \
    "Óbitos_p/Residênc": "Óbito infantil"}, inplace=True)##Renomear colunas

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
mortInfantil

,Municípios,Nascidos vivos,Óbito infantil,Taxa de mortalidade infantil
0,Abreu e Lima,1352,9,6.656805
1,Afogados da Ingazeira,586,5,8.532423
2,Afrânio,254,9,35.433071
3,Agrestina,325,6,18.461538
4,Água Preta,425,4,9.411765
...,...,...,...,...
180,Vertente do Lério,103,0,0.000000
181,Vertentes,290,4,13.793103
182,Vicência,387,5,12.919897
183,Vitória de Santo Antão,1901,23,12.098895
184,Xexéu,214,0,0.000000

In [ ]:
# Exportar para excel xls
mortInfantil.to_excel("C:/Users/Flavia Manhães/OneDrive - Universidade Federal de Pernambuco/2021.2/CONDEPE FIDEM/BDE II/ELIANE - DADOS/SAUDE/txMort2019.xls", index=False)